*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: rgb(248, 245, 245);
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap:1.6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper h2{
    font-size: 1.5rem;
    color:#BF3902;
    margin-bottom: 0.7rem;
}
.wrapper p{
    font-size: 0.9rem;
}
.wrapper img{
    width: 550px;
}
.logo{
    margin:1.3rem;
}
.wrapper button{
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    background: #BF3902;
    color: white;
    border-radius: 1.1rem;
}
.logo img{
    background-attachment:none;
}
@media screen and (max-width:400px) {
    .wrapper h2{
        font-size: 1.2rem;
    }
    .wrapper p{
        font-size: 0.85rem;
    }
    .wrapper img{
        width: 320px;
    }
}